<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>

	<style>
		
		body {
			background-color: rgb(233, 233, 233);
			text-align: center;
		}

		h2 {
			margin-bottom: 20px;
		}

		.image-grid {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 15px;
			max-width: 600px;
			margin: 0 auto;
		}

		.image-grid img {
			width: 100%;
			aspect-ratio: 1 / 1;
			object-fit: contain;
			background-color: white;
			border-radius: 8px;
		}
	</style>
</head>

<body>

	<h2>n秒で暗記しよう!!</h2>

	<div class="image-grid">
		<div th:each="img : ${imagePaths}">
			<img th:src="${img.imagePath}" alt="Image" />
		</div>
	</div>

</body>

</html>